<%#
Layout for an article.

It differentiates between regular articles and events and acts accordingly.
%>

<% event = event_for(article) %>
<% skip_title = false unless defined?(skip_title) %>

<article>
  <div class="page-header page-header-main">
    <% unless skip_title %>
      <h2><%= link_to article.title, article.url %></h2>
    <% end %>

    <% if event %>
      <time><%= event.formatted_time %></time>
    <% end %>
  </div>

  <% if article.data.speakerdeck_id %>
    <%= partial "layouts/speakerdeck", locals: { id: article.data.speakerdeck_id } %>
  <% end %>

  <% if article.data.speakerdeck_ids %>
    <% article.data.speakerdeck_ids.each do |id| %>
      <%= partial "layouts/speakerdeck", locals: { id: id } %>
    <% end %>
  <% end %>

  <% if event %>
    <%= partial "layouts/event_body", locals: { event: event, description: article.data.description } %>
  <% else %>
    <%= article.body %>
  <% end %>
</article>
