---
title: Sponsors
---

<div class="page-header">
  <h2>Sponsors</h2>
</div>

<p>The Moncton Developer User Group wouldn’t exist without the help of the following sponsors.</p>


<div class="page-header">
  <h3>Patrons</h3>
</div>

<p>
  <a href="http://msdn.microsoft.ca/">
    <%= image_tag "sponsors/msdn.jpg", alt: "MSDN", class: "img-thumbnail" %>
  </a>
</p>


<div class="page-header">
  <h3>Partners</h3>
</div>

<p>
  <a href="http://cognitivex.com/">
    <%= image_tag "sponsors/cognitivex.png", alt: "Cognitive X Solutions", class: "img-thumbnail" %>
  </a>
</p>

<p>
  <a href="http://venncentre.ca/">
    <%= image_tag "sponsors/venn.png", alt: "Venn center", class: "img-thumbnail" %>
  </a>
</p>

<p>
  <a href="https://twitter.com/bonaventuresoft">
    <%= image_tag "sponsors/bonaventure-software.gif", alt: "Bonaventure Software", class: "img-thumbnail" %>
  </a>
</p>

<p>
  <a href="http://www.pluralsight.com/">
    <%= image_tag "sponsors/pluralsight.png", alt: "Pluralsight", class: "img-thumbnail" %>
  </a>
</p>

<p>
  <a href="http://www.intelisysaviation.com/">
    <%= image_tag "sponsors/intelisys.jpg", alt: "InteliSys Aviation systems", class: "img-thumbnail" %>
  </a>
</p>


<div class="page-header">
  <h3>Supporters</h3>
</div>

<p>
  <a href="https://twitter.com/remids">
    Journeyman Software Consulting
  </a>
</p>
