---
title: Sponsors
---

<div class="page-header page-header-main">
  <h2>Sponsors</h2>
</div>

<p>The <%= data.strings.title %> wouldn’t exist without the help of the following sponsors.</p>


<div class="page-header">
  <h3>Patrons</h3>
</div>

<p>
  <% link_to "http://msdn.microsoft.ca/" do %>
    <%= image_tag "sponsors/msdn.jpg", alt: "MSDN", class: "img-thumbnail" %>
  <% end %>
</p>


<div class="page-header">
  <h3>Partners</h3>
</div>

<p>
  <% link_to "http://cognitivex.com/" do %>
    <%= image_tag "sponsors/cognitivex.png", alt: "Cognitive X Solutions", class: "img-thumbnail" %>
  <% end %>
</p>

<p>
  <% link_to "http://telerik.com/" do %>
    <%= image_tag "sponsors/BrandMark_Telerik_Horizontal_Big_Color.png", alt: "Telerik", class: "img-thumbnail" %>
  <% end %>
</p>

<p>
  <% link_to "https://www.jetbrains.com" do %>
    <%= image_tag "sponsors/logo_JetBrains_1.png", alt: "JetBrains.com", class: "img-thumbnail" %>
  <% end %>
</p>

<p>
  <% link_to "http://venncentre.ca/" do %>
    <%= image_tag "sponsors/venn.png", alt: "Venn center", class: "img-thumbnail" %>
  <% end %>
</p>

<p>
  <% link_to "https://twitter.com/bonaventuresoft" do %>
    <%= image_tag "sponsors/bonaventure-software.gif", alt: "Bonaventure Software", class: "img-thumbnail" %>
  <% end %>
</p>

<p>
  <% link_to "http://www.pluralsight.com/" do %>
    <%= image_tag "sponsors/pluralsight.png", alt: "Pluralsight", class: "img-thumbnail" %>
  <% end %>
</p>

<div class="page-header">
  <h3>Supporters</h3>
</div>

<div class="page-header">
  <h3>Past Sponsors</h3>
</div>

<p>
  <% link_to "http://www.intelisysaviation.com/" do %>
    <%= image_tag "sponsors/intelisys.jpg", alt: "InteliSys Aviation systems", class: "img-thumbnail" %>
  <% end %>
</p>

<p>
  <%= link_to "Journeyman Software Consulting", "https://twitter.com/remids" %>
</p>

